<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TweetWatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TweetWatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <TweetWatch.Properties.Settings>
            <setting name="TwitListFile" serializeAs="String">
                <value>tweetsites.txt</value>
            </setting>
        </TweetWatch.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TweetWatch.Properties.Settings>
            <setting name="ColorString" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="Sound" serializeAs="String">
                <value>Twitalert.wav</value>
            </setting>
            <setting name="Period" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MinimizeToSystemTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </TweetWatch.Properties.Settings>
    </userSettings>
</configuration>
